<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<div id="all">
    <header>
        {{ partial "nav.html" . }}
    </header>
    {{ partial "breadcrumbs.html" . }}
    <div id="content">
        <div class="container">
            <div class="row">
                {{ if .Params.sidebar }}
                <div class="col-md-3">
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">recipes</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                {{ range $name, $items := .Site.Data.cookbook }}
                                <li><a href="{{ $.Site.BaseURL }}cookbook/{{ $name | urlize | lower }}">{{ $name }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>                    </div>
                {{end}}
                <div class="col-md-9" id="recipe">
                    <div id="post-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}

</body>
</html>
