<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
        <header>
          {{ partial "nav.html" . }}
        </header>
        {{ partial "breadcrumbs.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" id="cookbook-post">
                        <div id="post-content">
                            <p>
                                {{ .Params.intro }}
                            </p>
                          {{ .Content }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{ partial "sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
