<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<div id="all">
    <header>
        {{ partial "nav.html" . }}
    </header>
    {{ partial "breadcrumbs.html" . }}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {{ partial "guide-nav.html" . }}
                </div>
                <div class="col-md-10" id="cookbook-post">
                    <div id="post-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>
