span.left
    | project maintained by
    = ' '
    a(target="_top" href="https://github.com/daviddenton") daviddenton

span.right
    = ' '
    | site powered by
    = ' '
    a(target="_top" href="https://github.com/jvandemo/hb-bootstrap") hb-bootstrap
    = ' '
    | for
    = ' '
    a(target="_top" href="http://harpjs.com") Harp
    = ' '
    | by
    = ' '
    a(target="_top" href="http://www.jvandemo.com") Jurgen Van de Moere

script $(function () { $('[data-toggle="tooltip"]').tooltip() })
