h1 examples

span (There are several other code examples of the various features in the&nbsp;
    a(href="https://github.com/daviddenton/fintrospect/tree/master/src/test/scala/examples") source code
span )

!= partial("../../test/scala/examples/full/README.md")