!= partial("installation-header.md")

h3 message formats
p For consuming&nbsp;
    a(href="request-parameters-and-bodies") request parameters
    span &nbsp; in a type-safe way or using the relevant&nbsp;
    a(href="building-http-responses") HTTP response builders
    span &nbsp;add the following:

!= partial("format-dependencies.md")

h3 templating
p For utilising the&nbsp;
    a(href="templating-and-static-content") templating engines
    span &nbsp;listed below, add the following:

!= partial("templating-dependencies.md")

!= partial("installation-footer.md")
