<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<div id="all">
    <header>
        {{ partial "nav.html" . }}
    </header>
    {{ partial "breadcrumbs.html" . }}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {{ partial "guide-nav.html" . }}
                </div>
                <div class="col-md-10" id="cookbook-listing-medium">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "cookbook") }}
                    {{ range $paginator.Pages }}
                    <section class="post">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                <div class="clearfix">
                                    <p class="author-category">
                                        {{ if isset .Params "categories" }}
                                        {{ if gt (len .Params.categories) 0 }}
                                        in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                                        {{ end }}
                                        {{ end }}
                                    </p>
                                </div>
                                <p class="intro">{{ .Summary }}</p>
                                <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>
                    </section>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>
